@model IEnumerable<Database1.Db>

<p>
    @Html.ActionLink("Create New", "AdminAdd" ,null , new { @class = "btn btn-dark btn-sm" })
</p>
<table class="table table-borderless">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Password)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Password)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID } ,new { @class ="btn btn-sm"} ) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }, new { @class = "btn btn-sm" }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID }, new { @class = "btn btn-sm" })
        </td>
    </tr>
}

</table>
